  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
	  <a class="navbar-brand js-scroll-trigger" href="#page-top" aria-label="Go to the top of the page">
          {%- if site.logo -%}
            <img height="{{ site.logo.height | default: 52 }}"
            src="{{ site.logo.path }}"
            alt="{{ site.title }} Logo"/>
          {%- else -%}
            {{ site.title }}
          {%- endif -%}
      </a>
      <button class="navbar-toggler navbar-hamburger" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <div class="animated-icon"><span></span><span></span><span></span></div>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
        {% if site.locale and site.locale != "" and site.locale != nil %}
        {% for link in site.data.navigation[site.locale].nav %}
          <li class="nav-item">
            {%- if link.url -%}
              <a class="nav-link js-scroll-trigger" href="{{ link.url }}">{{ link.title }}</a>
            {%- elsif link.section -%}
              <a class="nav-link js-scroll-trigger" href="#{{ link.section }}">{{ link.title }}</a>
            {%- else -%}
              <a class="nav-link js-scroll-trigger" href="#">{{ link.title }}</a>
            {%- endif -%}
          </li>
        {% endfor %}
        {% else %}
        {% for link in site.data.navigation.nav %}
        <li class="nav-item">
          {%- if link.url -%}
            <a class="nav-link js-scroll-trigger" href="{{ link.url }}">{{ link.title }}</a>
          {%- elsif link.section -%}
            <a class="nav-link js-scroll-trigger" href="#{{ link.section }}">{{ link.title }}</a>
          {%- else -%}
            <a class="nav-link js-scroll-trigger" href="#">{{ link.title }}</a>
          {%- endif -%}
        </li>
        {% endfor %}
        {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navigation -->
  
  <!-- Header -->
  {% if site.locale and site.locale != "" and site.locale != nil %}
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
	  {%- if site.data.sitetext[site.locale].header.title -%}
        <div class="intro-lead-in">{{ site.data.sitetext[site.locale].header.title | markdownify }}</div>
	  {%- endif -%}
	  {%- if site.data.sitetext[site.locale].header.text -%}
        <div class="intro-heading text-uppercase">{{ site.data.sitetext[site.locale].header.text | markdownify }}</div>
	  {%- endif -%}
	  {%- if site.data.sitetext[site.locale].header.button -%}
        <a class="btn btn-primary btn-xl btn-grow text-uppercase js-scroll-trigger btn-outline" href="{{ site.data.sitetext[site.locale].header.buttonlink }}">{{ site.data.sitetext[site.locale].header.button }}</a>
	  {%- endif -%}
    {%- if site.data.sitetext[site.locale].header.spbutton -%}
        <!-- Start SimplePractice Appointment-Request Widget Embed Code -->
        <div class="spwidget-button-wrapper">
          <a href="https://trailheadcounseling.clientsecure.me" class="spwidget-button btn btn-primary btn-xl btn-grow btn-outline"
            data-spwidget-scope-id="b50d0078-3537-4f01-8a16-df1e2d05dce0" data-spwidget-scope-uri="trailheadcounseling"
            data-spwidget-application-id="7c72cb9f9a9b913654bb89d6c7b4e71a77911b30192051da35384b4d0c6d505b"
            data-spwidget-scope-global data-spwidget-autobind>{{ site.data.sitetext[site.locale].header.spbutton }}
          </a>
        </div>
        <script src="https://widget-cdn.simplepractice.com/assets/integration-1.0.js"></script>
        <!-- End SimplePractice Appointment-Request Widget Embed Code -->
    {%- endif -%}
      </div>
    </div>
  </header>
  {% else %}
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
	  {%- if site.data.sitetext.header.title -%}
        <div class="intro-lead-in">{{ site.data.sitetext.header.title | markdownify }}</div>
	  {%- endif -%}
	  {%- if site.data.sitetext.header.text -%}
        <div class="intro-heading text-uppercase">{{ site.data.sitetext.header.text | markdownify }}</div>
	  {%- endif -%}
	  {%- if site.data.sitetext.header.button -%}
        <a class="btn btn-primary btn-xl btn-grow text-uppercase js-scroll-trigger btn-outline" href="{{ site.data.sitetext.header.buttonlink }}">{{ site.data.sitetext.header.button }}</a>
	  {%- endif -%}
    {%- if site.data.sitetext[site.locale].header.spbutton -%}
        <!-- Start SimplePractice Appointment-Request Widget Embed Code -->
        <div class="spwidget-button-wrapper">
          <a href="https://trailheadcounseling.clientsecure.me" class="spwidget-button btn btn-primary btn-xl btn-grow btn-outline"
            data-spwidget-scope-id="b50d0078-3537-4f01-8a16-df1e2d05dce0" data-spwidget-scope-uri="trailheadcounseling"
            data-spwidget-application-id="7c72cb9f9a9b913654bb89d6c7b4e71a77911b30192051da35384b4d0c6d505b"
            data-spwidget-scope-global data-spwidget-autobind>{{ site.data.sitetext[site.locale].header.spbutton }}
          </a>
        </div>
        <script src="https://widget-cdn.simplepractice.com/assets/integration-1.0.js"></script>
        <!-- End SimplePractice Appointment-Request Widget Embed Code -->
    {%- endif -%}
      </div>
    </div>
  </header>
  {% endif %}
  <!-- End Header -->