// Button Styles
.btn {
  @include heading-font;
  font-weight: 700;
}

.btn-outline {
  box-shadow: 0 0 0 .1rem rgba(255, 255, 255, 0.5) inset !important;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  &:active,
  &:focus,
  &:hover {
    background-color: darken($primary, 7.5%) !important;
    border-color: darken($primary, 7.5%) !important;
    color: white;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem white !important;
  }
}

.btn-grow {
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}
