// Styling for the contact section
section#contact {
  background-color: $white;
  background-image: url("#{$contact-image}");
  background-repeat: no-repeat;
  background-position: center;
  &.xs-only-translucent-bg {
    box-shadow: inset 0 0 0 50vw rgba(255,255,255, 0.7);
  }
  .section-heading {
    color: $primary;
  }
  .section-subheading {
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 15px;
    text-transform: none;
    @include serif-font;
  }
  .form-group {
    margin-bottom: 25px;
    input,
    textarea {
      padding: 20px;
    }
    input.form-control {
      height: auto;
    }
    textarea.form-control {
      height: 248px;
    }
  }
  .form-control:focus {
    border-color: $primary;
    box-shadow: none;
  }
  ::-webkit-input-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  :-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  ::-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  :-ms-input-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  a.nav-link, a.nav-link:visited, a.nav-link:active {
    text-decoration: none;
  }
  .nobr {
    white-space: nowrap;
  }
  @media (min-width: 576px) {
    &.xs-only-translucent-bg {
      box-shadow: none;
    }
    .section-subheading {
     font-size: 24px;
     margin-bottom: 20px;
    }
    .row-background-image {
      padding-top: 28px;
      padding-bottom: 28px;
    }
    .s-up-translucent-bg {
      background:rgba(255,255,255, 0.7);
      border-radius: 6px;
      padding: 20px;
    }
  }
}

// Start SimplePractice Appointment-Request Widget Styling
.spwidget-button-wrapper {
  text-align: center;
}

.spwidget-button {
  display: inline-block;
  padding: 12px 24px;
  border: 0;
  border-radius: 4px;
  // font-size: 20px;
  // font-weight: 400;
  margin-bottom: 15px;
  text-transform: none;
  @media (min-width: 576px) {
    //  font-size: 24px;
     margin-bottom: 20px;
  }
}
// End SimplePractice Appointment-Request Widget Styling
